@use "architecture_SMACSS" ;
$black-base: #606060;
$green-base: #B2D234;



nav {
  div.logo img {
    height: 70px;
    width: 200px;
  }

div.menu  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  height: 70px;
  width: 700px;
  margin: 0 50px;

  ul  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    width: 500px;

    a {
      text-decoration: none;
      color: white;
      font-size: 18px;
      font-weight: 300;
      &:hover {
        /* modifier la longeur de la bordure  */
        border-bottom: 2px solid white;
      }
    }
  }
  button {
    background-color: #f2f2f2;
    border: none;
    width: 160px;
    height: 40px;
    border-radius: 5px;
    color: $green-base ;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
   

  }
}
}

section.main_section {
  background-size: cover;
  background-color: #de1111;
  background-image: url("Assets/luisa-brimble-2RrBE90w0T8-unsplash.jpg") ;
  height: auto;

   &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
     
      background: linear-gradient(160deg, rgba(96,160,216,1) 12%, rgba(178,210,52,1) 100%);
      opacity: 0.5;
      z-index: 1; /* Pour superposer l'élément pseudo sur l'image */
    }
    h1.title {
      color: white;
      font-size: 126px;
      font-weight: 500;
      font-family: 'Poppins', sans-serif;
      text-align: center;
      margin-top: 160px;

    }
    h1.sub_title {

            color: white;
              font-size: 54px;
              font-weight: 300;
              font-family: "Poppins", sans-serif;
              text-align: center;
              font-style: italic;
              transform: rotate(-9deg) translateX(451px);
              margin-top: 43px;
              margin-bottom: 97px;
              width: auto;
              width: 572px;
            }
          
        
    
    div.social_network{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      gap: 20px;
      
      width: 135px;
      transform: translateX( calc( 100vw - calc(135px + 50px ) ) );
      padding-bottom: 50px;
      svg {
        height: 35px;
        width: 35px;
        fill: white;
      }


    }

}

section.presentation {
  background-image: url("Assets/61842.jpg");
  background-repeat: repeat;
  background-size: 25%;
  
  background-color: rgba(255, 255, 255, 0.884);
  height: 700px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: start;

  img {
    height: 100%;
    width: 50%;
    object-fit: cover;
    
  }
  div.text_container {
    width: 40%;
    margin-left: 148px;
    height: 50%;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: start;
    gap: 20px;
    p {
      width:75% ;
      font-size: 18px;
      font-weight: 400;
      font-family: "Poppins", sans-serif;
      
      
    }
   button {
    background-color: $green-base;
    height: 60px;
    color: white;
    font-family: "Poppins", sans-serif;
      font-size: 24px;
      font-weight: 600;
      padding: 14px 60px;
      border-radius: 8px;
      border: none;
      margin-top: 40px;
   }

    h1 {
      color : $green-base;
      font-family: "Poppins", sans-serif;
      font-size: 50px;
      font-weight: 600;
    }
  }
}
section.presentation_2 {
  background-image: url("Assets/ismael-trevino-NDyuR4Huig8-unsplash.jpg");
  

  
  height: 100vh;
  object-fit: cover;
  background-size: 100%;
  padding: 50px;
  
  

  

  img {
    margin: auto 0;
    height: 100%;
    width: 100%;
    object-fit: cover;

  }

  div.card {
    
    padding-top: 38px;
    background-color: rgba( $green-base, 0.884);
    width: 40%;
    margin-left: 50%;
    height: auto;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: start;
    gap: 20px;

    text-align: center;
    align-items: center;

    
    h1 {
        color: white;
        font-family: "Poppins", sans-serif;
        font-size: 50px;
        font-weight: 600;
        height: 140px;
      }
    p {
      color: white;
      width: 75%;
      font-size: 18px;
      font-weight: 400;
      font-family: "Poppins", sans-serif;
      a {
        text-decoration: underline;
      }


    }

    button {
      background-color: white;
      height: 60px;
      color: $green-base;
      font-family: "Poppins", sans-serif;
      font-size: 24px;
      font-weight: 600;
      padding: 14px 60px;
      border-radius: 8px;
      border: none;
      margin-top: 40px;
      margin-bottom: 48px;
    }

   
  }
}
section.menu {
  height: auto;
  background-color: white;
  h1.title {
    font-family: "Poppins", sans-serif;
    font-size: 52px;
    font-weight: 600;
    color: $green-base;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
  }
  p.sub_title {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    width: 800px;
    align-items: center;
    margin:10px auto;
    color: $black-base;
  }
div.menu_list_force_container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: start;
  gap: 20px;
  margin-top: 90px;

}
  div.menu_list {
    
    width: 550px;
    height: 700px;
    margin-bottom: 100px;
    div.menu.meilleur_vente {
        border: 1px solid $green-base;
        padding: 12px ;
        height: 150px;
        &::before{
          content: "La plus vendue !";
          
            position: absolute;
            top: -25px;
            right: 0px;
            width: 100%;
            height: 100%;
            background-color: #B2D234;
            color: white;
            font-weight: 400;
            height: 25px;
            width: 125px;
            font-size: 12px;
            text-align: center;

        }
      }
    div.menu {
      height: 100px;
      
      margin-bottom: 40px;
      position: relative;
      

      h1 {
        color: $green-base;
        font-family: "Poppins", sans-serif;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 12px;
        
      }
      p.prix {
        color: $green-base;
          font-family: "Poppins", sans-serif;
          font-size: 24px;
          font-weight: 500;

          position: absolute;
          top: 0;
          right: 10px;

          
  
      }
      p.composition {
        
        color: $black-base;
          font-family: "Poppins", sans-serif;
          font-size: 18px;
          font-weight: 400;
          width: 75%;

      }
    }
  }
  div.force {
    width: 550px;
      height: 700px;
      h1.green {
        color: $green-base;
        font-family: "Poppins", sans-serif;
        font-size: 64px;
        font-weight: 300;
        font-style: italic;
        transform: rotate(-9deg) ;
       
      }
      h1.blue {
        color: #60A0D8;
          font-family: "Poppins", sans-serif;
          font-size: 64px;
          font-weight: 300;
          font-style: italic;
          transform: rotate(-9deg);

      }
      p{
        font-family: "Poppins", sans-serif;
          font-size: 18px;
          font-weight: 400;
          text-align: center;
          width: 800px;
          align-items: center;
          margin-top: 65px;
          color: $black-base;
          width: 430px;
      }
      button {
          background-color: $green-base;
            height: 60px;
            color: white;
            font-family: "Poppins", sans-serif;
            font-size: 24px;
            font-weight: 600;
            padding: 14px 60px;
            border-radius: 8px;
            border: none;
            margin-top: 90px;
      }

  }
}

section.bleur_ou_vert{

    background-image: url("Assets/louis-hansel-MlPD-AzZYMg-unsplash.jpg");
    
    
    
      height: 100vh;
      object-fit: cover;
      background-size: 100%;
      padding: 50px;
      
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      text-align: start;
      flex-wrap: wrap;
      
  
  div.card {
    background-color: rgba( #60A0D8, 0.884);

    width: 45%;
    height: 500px;
    text-align: center;
    align-items: center;
    
    

    h1 {
      margin-top: 24px;
      font-family: "Poppins", sans-serif;
      font-size: 52px;
      font-weight: 600;
      color: white;
    }
    
    div {
        display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          text-align: center;
          /* gap: 20px; */
          height: 80%;
          flex-wrap: wrap;
        
      p {
        
  
        color: white;
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        align-items: center;
        
        
      }
    }
  }
  div.green {
    
        background-color: rgba($green-base, 0.884);
     
  }
}