@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



$black: #606060;
$green-base: #B2D234;
$color_1: #ffffff;
$color_2: #bbbbbb;
$color_3: #24262b;
$background-color_1: #24262b;
$background-color_2: #e91e63;
$background-color_3: rgba(255, 255, 255, 0.2);
$background-color_4: #ffffff;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  
  
  
}
section{
  height: 767px;
  width: 100%;
  margin: 0 ;
}
nav {
    display: flex;
  flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 70px;
  margin : 0px 40px;
  padding-top: 50px;
  z-index: 2;

 



}