
$black-base: #606060;
$green-base: #B2D234;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
section{
  height: 767px;
  width: 100vw;
  margin: 0 ;
}
nav {
    display: flex;
  flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 70px;
  margin : 25px 50px;
  background-color: #48a413;



}